* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  padding: 60px;
}

input {
  font-size: 1.2rem;
  width: 200px;
  color: #444;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
}

.card-grid h3 {
  width: 100%;
}

.card {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid grey;
  border-radius: 6px;
  overflow: hidden;
}

.card img {
  height: 150px;
  width: 100%;
}

.card p {
  padding: 0 20px;
  font-size: 12px;
  list-style: 150%;
}